<app-page-header [pageHeaderInfo]="pageHeaderInfo" />

<div class="normal-table-wrap">
  <nz-card class="m-b-10" nzTitle="文字">
    <span class="shark-txt">老华货真价实</span>
  </nz-card>

  <nz-card class="m-b-10" nzTitle="卡片">
    <div class="shark-wrap card">
      <img src="https://cdn-fusion.imgimg.cc/i/2024/8ff36985081b1ce7.png" alt="" />
    </div>
  </nz-card>

  <nz-card class="m-b-10" nzTitle="头像">
    <div class="shark-wrap radius">
      <img src="https://cdn-fusion.imgimg.cc/i/2024/fcbaca9087913e01.png" alt="" />
    </div>
  </nz-card>
</div>
